<div class = 'booyah-box col-xs-10 col-xs-offset-1'>

	<div class = 'col-xs-12 col-md-12'>
		<h1><%= @sightreading.title %></h1>
		tempo = <span id = 'tempo'><%= @sightreading.tempo %> </span><%= @sightreading.time %>, <%= @sightreading.key %>
		<%= link_to 'Edit', edit_instructor_sightread_challenge_path(@sightreading), :class => 'btn btn-success pull-right' %>
	</div>
		<div class = 'test-panel col-xs-12 col-md-12'>

				<div class="vex-tabdiv"  width=680 scale=1.0>
				
			      options space=20

			    options player=true tempo=<%= @sightreading.tempo %> instrument=acoustic_grand_piano
			    tabstave notation=true tablature=false
			    time=<%= @sightreading.time %> 
			    notes <%= @sightreading.notes %>

			      options space=25

			    </div>
		</div>
<!-- 		<div class = 'col-xs-12 col-md-12'>
			<%= simple_form_for Score.new, :url => sightread_challenge_add_score_path(@sightreading) do |f| %>
			<%= f.input 'total' %>
			<%= f.submit 'submit' %>
			<% end %>
		</div> -->


	<br class='clr' />
	<br />
	<div class = 'sing-panel col-xs-12 col-sm-12 col-md-12'>
			<div id='detector' class='vague pull-right'>
				<div class="pitch"><span id="pitch">--</span>Hz</div>
				<div class="note"><span id="note">--</span></div>   
				<div id="output"></div>
				<div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
			</div>
			<div class = 'music-panel col-xs-12 col-md-8 col-xs-offset-1'>
				<img id = 'treble' src = '/assets/treble.png'>
				<canvas id="canvas2" height="250" width="685"></canvas>
				<canvas id="canvas" height="250" width="685" ></canvas>
			</div>
	</div>

	<br class = 'clr' />
	<br />


	<div class = 'controls col-xs-4 col-sm-4 col-md-12 text-center'>
		<button onclick="toggleLiveInput()" id= 'mic' class = 'btn btn-success'><!-- use live input --></button>
		<button id= 'metronome' class ='metronome btn btn-success'>Start</button>
		<button id= 'stop' class ='metronome btn btn-success'>Stop</button>
	 </div>
<div class = 'result col-xs-12 col-md-8'>
	<div class = 'result-head col-xs-12 col-md-3'><h4>How did you do?</h4></div>
			<div class ='eval col-xs-12 col-md-4'></div>
		<div class = 'result-head col-xs-12 col-md-2'><h4>Score:</h4></div>
			<div class ='score col-xs-12 col-md-3 text-center' data-post-url="<%= sightread_challenge_add_score_path(@sightreading)%>"></div>
</div>

	<div class = 'total-score col-xs-4 col-md-4 text-center'>
		<p><h3>Your Sightreading Score: </h3></p>
		<h4><%= @scores %></h4>
	</div>

<div class = 'testNotes'><%= @sightreading.notes %></div>
</div>