<div class = 'booyah-box col-xs-10 col-xs-offset-1'>
	<h1><%= @sightreading.title %></h1>
			<div class="vex-tabdiv"  width=680 scale=1.0>
			
		      options space=20

		    options player=true tempo = 60 instrument=acoustic_grand_piano
		    tabstave notation=true tablature=false
		    time=4/4 
		    notes :q C-C-G-G/4|A-A/4 :h G/4

		      options space=25

		    </div>
	
	<div class = 'col-xs-12 col-md-12'>
		<p>tempo = <%= @sightreading.tempo %> <%= @sightreading.time_sig %>, <%= @sightreading.key_sig %>
			<% @sightreading.notes.each do |note| %>
		[<%= note.note_name %>, <%= note.midi_num %>, <%= note.duration %>]
		<% end %></p>
		<div class = 'testNotes'>:q C-C-G-G/4 | A-A/4 :h G/4</div>
	</div>
	<br class='clr' />

	<div class = 'result col-xs-12 col-md-8'>
		<div class = 'result-head col-xs-12 col-md-3'><h4>How did you do?</h4></div>
			<div class ='eval col-xs-8 col-md-5'></div>
		<div class = 'result-head col-xs-12 col-md-1'><h4>Score:</h4></div>
			<div class ='score col-xs-8 col-md-2 text-center'></div>
	</div>

	<br class = 'clr' />
	<br />

	<div class = 'singpanel-div col-xs-12 col-md-12'>
		<div class = 'music-panel col-xs-12 col-md-8'>
			<img id = 'treble' src = '/assets/treble.png'>
			<canvas id="canvas2" height="250" width="685"></canvas>
			<canvas id="canvas" height="250" width="685" ></canvas>
		</div>

		<div class = 'side-panel col-xs-12 col-md-2'>
			<div class = 'detect-div col-xs-6 col-sm-3 col-md-12'>
				<div id='detector' class='vague'>
					<div class="pitch"><span id="pitch">--</span>Hz</div>
					<div class="note"><span id="note">--</span></div>   
					<div id="output"></div>
					<div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
				</div>
			</div>
			<div class = 'col-xs-6 col-sm-4 col-md-12'>
				<div class = 'controls col-xs-12 col-sm-4 col-md-12'>
					<button onclick="toggleLiveInput()" id= 'mic' class = 'btn btn-success'><!-- use live input --></button>
				</div>

		 		<div class = 'controls col-xs-12 col-sm-4 col-md-12'>
		 			<button id= 'metronome' class ='metronome btn btn-success'>Start</button>
		 		<br />
		 			<button id= 'stop' class ='metronome btn btn-success'>Stop</button>
		 		</div>
	 		</div>
		</div>
	</div>	
 	
</div>